/*------------ IMPORT--------------*/
@import "reset";
@import "variables";

/*------------FIN IMPORT--------------*/

/*------------ MIXIN--------------*/
@mixin flexcen {
    display: flex;
    justify-content: center;
}

@mixin gridcen {
    display: grid;
    justify-items: center;
}
/*------------FIN MIXIN--------------*/

/*------------GRID DIV --------------*/
.gridiv {
    grid-template-columns: 9.9fr 0.1fr;
    padding: 2px;
    font-size: 25px;
    @include gridcen;
}

.crear-iniciar {
    display: inline-flex;
    padding-right: 5px;
    justify-items: center;
    margin-top: 6px;

    .ci-grids1 {
        color: $colo-letra;
    }

    .ci-grids2 {
        padding-left: 5px;
        color: $colo-letra;
    }
}

.rede {
    display: flex;
    font-size: 23px;
    justify-content: flex-end;
    padding-right: 5px;

    .inst {
        margin-right: 10px;
        color: $colo-letra;
    }

    .face {
        color: $colo-letra;
    }
}

/*------------FIN GRIDS DIV--------------*/
/*------------HEADER GRIDS--------------*/
.gridheader {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.logo img {
    width: 170px;
    height: 170px;
}

.clase-header nav {
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    @include flexcen;
}

/*------------FIN HEADER--------------*/

/*------------MAIN--------------*/

.imagenes-destacadas h3 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: 300;
}

.gridmain {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: center;
}

.contenedor-imagenes {
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;

}

.contenedor-imagenes .imagenes {
    margin: 20px 10px 20px 10px;
    width: 80%;
    height: 100%;
    position: relative;
    height: 250px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 75);
    border-radius: 10px;
}

.imagenes img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $color-transparencia;
    width: 100%;
    height: 0%;
    transition: .5s ease;
    overflow: hidden;
}

.overlay h3 {
    color: $color-letra-img;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagenes:hover .overlay {
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}

/*------------FIN MAIN--------------*/

/*------------FOOTER--------------*/
.pie-pag {
     width: 100%;
}

.pie-pag .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pag .grupo-1 .box h4 {
    margin-left: 55px;
     display: flex;
}

.pie-pag .grupo-1 .box p { 
      display: flex;
     margin-left: 55px;
}

.pie-pag .grupo-1 .medio-de-pago i {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.pie-pag .grupo-1 button {
    margin-top: 10px;
}

/*------------FIN FOOTER--------------*/

/*------------ ULTIMO DIV--------------*/
.pie-pagina {
    font-size: 18px;
    padding: 15px 10px;
     text-align: center;
     display: flex;
}

/*------------FIN ULTIMO DIV--------------*/

/*------------CONTACTO--------------*/
#contactos {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    margin-top: 100px;

}

.contacto h3 {
    font-size: 20px;
    position: relative;
    left: 8px;
    bottom: 5px;
}

.redes-sociales h3 {
    position: relative;
    left: 10px;
    font-size: 20px;
    bottom: 5px;
}

.instagram-logo {
    margin-top: 30px;
    font-size: 20px;
    @include flexcen;

    .in {
        margin-left: 15px;
        color: $colo-letra;
    }
}

.facebook-logo {
    @extend .instagram-logo;
    @include flexcen;

    .fac {
        margin-left: 15px;
        color: $colo-letra;
    }
}

.email-logo {
    @extend .instagram-logo;
    @include flexcen;

    .el {
        margin-left: 15px;
        color: $colo-letra;
    }
}

.em {
    margin-top: 10px;
    font-size: 18px;
    @include flexcen;
}

/*------------ FIN CONTACTO--------------*/


/*------------PREGUNTAS FRECUENTES--------------*/
.preguntas-frecuentes-logo {
    height: 39.5vh;
    margin: 10px;
}

.preguntas-frecuentes-logo h3 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: 300;
}

.parrafo-1 {
    position: relative;
    top: 20px;
}

.parrafo-2 i {
    font-size: 25px;
    padding: 10px;
    position: relative;
    top: 20px;
}

.preguntas-frecuentes {
    position: relative;
    bottom: 80px;
    margin: 10px;

}

/*------------ FIN PREGUNTAS FRECUENTES--------------*/


/*------------QUIENES SOMOS --------------*/
.quienes-somos {
    height: 68.2vh;
}

.quienes-somos h3 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: 300;
}

.p p {
    text-align: center;
    margin-top: 40px;
    padding: 0 1rem;
}

/*------------Quienes Somos--------------*/
